extends ../layouts/default

block intro
	.container
		h1 Gallery
	
block content
	.container
		.center-block
		if galleries.length
				each gallery in galleries
					.col-xs-6.col-sm-4.col-md-3.card(style="width: 300px")
						if gallery.r18
							a.btn.btn-dark.r18img(href='#', role="button") R18
						else
							a(href='#') 
							if gallery.Sumnail.exists
								img.card-img-top(src=gallery._.Sumnail.limit(300,0), alt="Card image cap").img-rounded
							else
								img.card-img-top(src=gallery._.Image.limit(300,0), alt="Card image cap").img-rounded
						.card-body
							h4.lead.text-muted= gallery.name
							if gallery.publishedDate
								.pull-right.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
							a.btn.btn-dark(href='/gallery/image/' + gallery.key, role="button") Open 

							
		else
			h3.text-muted There are no image galleries yet.
