extends ../layouts/default

block content
	.container: .jumbotron
		h1 > 100(JPY)
		hr
		p 当ブログでは技術的な話を記載します。
		p ついでに絵を書きます。
		p # ほぼ備忘録目的のため内容の正確性は一切保証できません。
		hr
		.author.row
			.col-sm-6
			.col-sm-2
				img.authoricon(src="https://i.imgur.com/DGmLof5.png")
			.col-sm-4
				h4 Author: @sy4may0
				hr
				.authordescription
					p 不幸にもITゼネコンに追突したインフラエンジニア。
					ul.links
					p Twitter: 
						a(href="https://twitter.com/sy4may0", target="_brank") twitter.com/sy4may0
					p github: 
						a(href="https://github.com/sy4may0", target="_brank") github.com/sy4may0
					p 静画: 
						a(href="https://seiga.nicovideo.jp/user/illust/28681523", target="_brank") seiga.nicovideo.jp/sy4may0
					p pixiv: なし
			
