extends ../layouts/default

block content
	.container: .jumbotron
		h1 > 100(JPY)
		hr
		each toppage in data.toppages
			!= toppage.text
		hr
		each author in data.authors
			.author.row.col-sm-10
				.icon
					img.icon(src=author._.icon.limit(100,100), alt="Card image cap").img-rounded
				.userinfo
					h4 Author: #{author.name.first}
					.description
						!= author.description
