extends ../layouts/default

block content
	.container: .jumbotron
		h1 > 100(JPY)
		hr
		p 当ブログでは技術的な話をします。
		p ついでに絵をかきます。
		p # 備忘録目的のため内容の正確性は保証できません。
		hr
		.author.row
			.col-sm-6
			.col-sm-2
				img.authoricon(src="https://i.imgur.com/DGmLof5.png")
			.col-sm-4
				h4 Author: @sy4may0
				hr
				.authordescription
					p 不幸にもITゼネコンに追突したインフラエンジニア。
					ul.links
					p Twitter: 
						a(href="https://twitter.com/sy4may0", target="_brank") twitter.com/sy4may0
			
